.caixa{
    background-color: #ffffff;
}

.titulo{
    color: #000000 !important;
    font-weight: bold;
}

.botao{
    border-color: #000000;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.postagens{
    background-color: #ffffff;
}

.imagem{
    background-image: url(../../../public/img/imgLogin.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 82vh;
    background-size: cover;
    background-position: center;
    }