.caixa{
    background-color: #ffffff;
}

.titulo{
    color: #000000 !important;
    font-weight: bold;
}

.botao{
    border-color: #000000;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.postagens{
    background-color: #ffffff;
}