.imagem2{
    background-image: url(../../../public/img/imgCadastro.gif);
background-repeat: no-repeat;
width: 80vh;
min-height: 100vh;
background-size: cover;
background-position: center;
}

.textosCadastro{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}